* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: inherit;
}

html {
  height: 100%;
  background: #ffffff;
  box-sizing: border-box;
  color: #444444;
  font-size: 16px;
}

body {
  padding: 10px;
  position: relative;
  min-height: 100%;
  background: #ffffff;
  color: #444444;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

canvas {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
